<%=render 'shared/error_messages',:target=>@article%>
<div class="row">
	<%if @article.cover %>
		<%=image_tag @article.cover_url(:normal)%>
	<%end%>
</div>
<%=simple_form_for([:admin,@article],:html=>{:class=>"form-horizontal"}) do |f|%>
	<%= f.input :cover,:input_html=>{:class=>"form-control"}%>	
	
  <%= f.input :title,:input_html=>{:class=>"form-control"}%>	
	<%= f.input :breif,:input_html=>{:class=>"form-control"}%>	
	<%= f.input :public_flag,:html=>{:class=>"form-control"},:collection=>[["免费",1],["收费",0]],:include_blank=>false%>
	
	<%= f.kindeditor :content,:input_html=>{:class=>"form-control"}, :ckeditor => { :height => 500 }%>
	
	<div class="form-actions">
		<%=link_to "返回列表", admin_wx_keywords_path,:class=>"btn"%>
		<button type="submit" class="btn btn-primary pull-right">保存</button> 
	</div> <!-- /form-actions -->
<%end%>


<script>
$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
     checkboxClass: 'icheckbox_minimal',
     radioClass: 'iradio_minimal'
 });
</script>