<%=render 'shared/error_messages',:target=>@article%>
<div class="row">
	<%if @article.cover %>
		<%=image_tag @article.cover_url(:normal)%>
	<%end%>
</div>
<%=simple_form_for([:admin,@article],:html=>{:class=>"form-horizontal"}) do |f|%>
	<%= f.input :cover,:input_html=>{:class=>"form-control"}%>	
	
  <%= f.input :title,:input_html=>{:class=>"form-control"}%>	
	<%= f.input :breif,:input_html=>{:class=>"form-control"}%>	
	<div class="control-group string optional wx_article_breif"><label class="string optional control-label" for="wx_article_breif">免费文章</label><%= f.check_box :public_flag,:html=>{:class=>"minimal"}%>
	</div>	
	<%= f.cktext_area :content,:input_html=>{:class=>"form-control"}%>
	
	<div class="form-actions">
		<%=link_to "返回列表", admin_wx_keywords_path,:class=>"btn"%>
		<button type="submit" class="btn btn-primary pull-right">保存</button> 
	</div> <!-- /form-actions -->
<%end%>
