<%=render 'shared/error_messages',:target=>@article%>

<%=simple_form_for([:admin,@article],:html=>{:class=>"form-horizontal"}) do |f|%>
	
  <%= f.input :title,:input_html=>{:class=>"form-control"}%>	
	<%= f.input :cover,:input_html=>{:class=>"form-control"}%>	
	<%= f.input :breif,:input_html=>{:class=>"form-control"}%>	
	
	<%= f.cktext_area :content,:input_html=>{:class=>"form-control"}%>
	
	<div class="form-actions">
		<%=link_to "返回列表", admin_wx_keywords_path,:class=>"btn"%>
		<button type="submit" class="btn btn-primary pull-right">保存</button> 
	</div> <!-- /form-actions -->
<%end%>
