<div class="content-padded">
	<h4><%=@chapter.title%></h4>
</div>

<ul class="table-view">
  <li class="table-view-cell ">
			<small> 发布于<%= l @chapter.created_at%></small><br/
  </li>
	<%=link_to mobile_wx_lesson_path(@chapter.try(:wx_lesson)),:class=>"tab-item","data-ignore"=>"push"  do%>

  <li class="table-view-cell media">
	
		<p>课程名称:<%=@chapter.try(:wx_lesson).try(:title)%></p>
	</li>
	
	<%end%>
	
</ul>

<div class="content-padded rich_content">
	<%=raw @chapter.content%>
</div>
