<div class="row">
	<div class="col-lg-12 col-xs-12">
    <div class="small-box bg-red">
      <div class="inner">
	      <h3>
            <%=WxUser.all.size%>
        </h3>
				<h4>
					年付费会员,
			
					目标10万年付费会员还需 
				</h4>
				<h3>
					<%=100000-WxUser.all.size%> 
				</h3>
				<h4>
					<span>至2015年12月30日剩</span>
					<span id="counter"></span>
				</h4>

			</div>
			
			<div class="icon">
			    <i class="ion ion-flag"></i>
			</div>
			<%=link_to admin_wx_users_path ,:class=>"small-box-footer" do%>
				更多信息 <i class="fa fa-arrow-circle-right"></i>
			<%end%>
		</div>
	</div>
</div>

<div class="row">
  
    <div class="col-lg-6 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>
                    <%=WxKeyword.all.size%>
                    
                </h3>
                <p>
                    关键字记录
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-promotion"></i>
            </div>
						<%=link_to admin_wx_keywords_path ,:class=>"small-box-footer" do%>
            	更多信息 <i class="fa fa-arrow-circle-right"></i>
						<%end%>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-6 col-xs-6">
	      <!-- small box -->
	      <div class="small-box bg-blue">
	          <div class="inner">
	              <h3>
	                  <%=WxArticle.all.size%>
	              </h3>
	              <p>
	                  微信图文消息
	              </p>
	          </div>
	          <div class="icon">
	              <i class="ion ion-ios7-compose"></i>
	          </div>
						<%=link_to admin_wx_articles_path ,:class=>"small-box-footer" do%>
	          	更多信息 <i class="fa fa-arrow-circle-right"></i>
						<%end%>
	      </div>
</div><!-- /.row -->
<div class="row">

  </div><!-- ./col -->
  <div class="col-lg-6 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>
                    <%=WxLesson.all.size%>
                </h3>
                <p>
                    会员服务主题
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-book"></i>
            </div>
						<%=link_to admin_wx_lessons_path ,:class=>"small-box-footer" do%>
							更多信息 <i class="fa fa-arrow-circle-right"></i>
						<%end%>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-6 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-orange">
            <div class="inner">
                <h3>
                    <%=WxChapter.all.size%>
                    
                </h3>
                <p>
                    课程章节
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-note"></i>
            </div>
						<%=link_to admin_wx_chapters_path ,:class=>"small-box-footer" do%>
            	更多信息 <i class="fa fa-arrow-circle-right"></i>
						<%end%>
        </div>
    </div><!-- ./col -->
</div>
<div class="row">


   
</div><!-- /.row -->



<script type="text/javascript">
  $('#counter').countdown('2015/12/31', function(event) {
    $(this).html(event.strftime(' %D 天 %H小时%M分%S秒'));
  });
</script>

