<style>
	.red_button{
		color:white;
		background-color:red;
		padding:3px 3px 3px 3px;
		margin-left:0px;
	}
	.content{
		background-color:#F7F7F7;
	}
	
	h2{
		color:red;
	}
</style>
<div class="content-padded">
	<h2>
		<i class="fa fa-user "></i>
		会员信息
	</h2>
	<ul class="table-view">
	  <li class="table-view-cell">
	      用户名:<%=@user.username%>
	  </li>
	  <li class="table-view-cell">
	      姓名:<%=@user.name%>
	  </li>
	  <li class="table-view-cell">
	      联系电话:<%=@user.phone%>
	  </li>
	  <li class="table-view-cell">
	      会员状态:<%=@user.status%>
	  </li>
	  <li class="table-view-cell">
	      会员等级:<%=@user.try(:wx_role).try(:name)%>
	  </li>
	  <li class="table-view-cell">
	      会员开始时间:<br/>
				<%= l @user.start_time,:format=>:long if @user.start_time%>
	  </li>
	  <li class="table-view-cell">
	      会员到期时间:<br/>
	     <%= l @user.end_time,:format=>:long  if @user.end_time%>
	  </li>
	</ul>
	<%=link_to payment_alipay_payments_path,:class=>"btn btn-block"  ,"data-ignore"=>"push" do%>
	
		会员升级
	<%end%>
</div>

