<%= content_for :title do %>
	课程主题
<% end %>

<%=render 'header_nav'%>
<div class="box">
	<div class="box-header">
	   <h3 class="box-title">课程主题 - <%=@lesson.title%>
     </h3>

	</div><!-- /.box-header -->
	<div class="box-body">
    <div class="row">
        <div class="col-md-4">
					<b>封面:</b>
	
					<%if @lesson.cover %>
						<%=image_tag @lesson.cover_url(:normal)%>
					<%end%>
	

						<b>创建文档时间</b>:
						<p><%=l @lesson.created_at %></p>
						<b>最后编辑时间</b>:
						<p><%=l @lesson.updated_at %></p>	
				</div>
				
        <div class="col-md-8">
						<b>简介</b><br/>
						<p><%=@lesson.content%></p>
						
						<b>课程列表</b><br/>
						<table class="table">
							<thead>
								<tr>
									<th>章节编号</th>
									<th>章节名称</th>
								</tr>
							</thead>
							<%@lesson.wx_chapters.order("no").each do |chapter|%>
								<tr>
									<td><%=chapter.no%></td>
									<td><%=chapter.title%></td>
								</tr>
							<%end%>
							<tbody>
								
							</tbody>
						</table>
				</div>	
				
		
			</div>
			
		
	</div>
</div>


<div class="row">
	<div class="btn-group pull-left">
		<%=link_to "返回列表",admin_wx_lessons_path,:class=>"btn"%>
	
	</div>
	<div class="btn-group pull-right">
		<%=link_to "编辑",edit_admin_wx_lesson_path(@lesson),:class=>"btn"%>
		<%=link_to "删除",[:admin,@lesson],:method=>:delete,:class=>"btn btn-danger"%>
	</div>
</div>
