<%= content_for :title do %>
	课程主题
<% end %>

<%=render 'header_nav'%>
<div class="box">
	<div class="box-header">
	   <h3 class="box-title">课程主题 - <%=@lesson.title%>
     </h3>

	</div><!-- /.box-header -->
	<div class="box-body">
    <div class="row">
        <div class="col-md-12">
						<b>课程列表</b><br/>
						<%= grid(@chapters_grid, show_filters: :when_filtered, hide_csv_button: true) do |g|
							g.column :name => '章节编号', :attribute => 'no' 

							g.column :name => '章节名称', :attribute => 'title' do |chapter|
								link_to chapter.title,[:admin,chapter]
							end

							g.column :name => '收费章节', :attribute => 'public_flag' do |chapter|
								t chapter.public_flag.to_s
							end
							
							g.column do |chapter|
								edit =  link_to raw("<button class=\"btn btn-mini btn-info\"><i class=\"fa fa-edit bigger-120\"></i></button>"), edit_admin_wx_chapter_path(chapter)
								remove = link_to raw("<button class=\"btn btn-mini btn-danger\"><i class=\"fa fa-trash-o bigger-120\"></i></button>"), [:admin,chapter], method: :delete, data: { confirm: 'Are you sure?' }
								raw "#{edit} #{remove}"
							end
						end -%>
				</div>	
			</div>
	</div>
</div>


<div class="row">
	<div class="btn-group pull-left">
		<%=link_to "返回列表",admin_wx_lessons_path,:class=>"btn"%>
	
	</div>
	<div class="btn-group pull-right">
		<%=link_to "新增章节",new_admin_wx_chapter_path(:lesson_id=>@lesson),:class=>"btn"%>
	</div>
</div>
