<%= content_for :title do %>
	管理员用户信息
<% end %>

<div class="box">
	<div class="box-header">
	   <h3 class="box-title">用户名 - <%=@user.email%>
     </h3>

	</div><!-- /.box-header -->
	<div class="box-body">
    <div class="row">
        <div class="col-md-4">
					<b>最后登录时间</b><br/>
					<p><%=l @user.last_sign_in_at if @user.last_sign_in_at%></p>
					<b>最后登录IP</b><br/>
					<p><%= @user.last_sign_in_ip %></p>
					
					
					<b>用户创建时间</b><br/>
					<p><%=l @user.created_at if @user.created_at%></p>
					<b>用户最后更新时间</b><br/>
					<p><%=l @user.updated_at if @user.updated_at%></p>
							
				</div>
				
        <div class="col-md-8">
						<b>用户名</b><br/>
						<p><%=@user.email%></p>
						<b>权限</b><br/>
						<p><%=@user.role%></p>
				</div>	
				
		
			</div>
			
		
	</div>
</div>


<div class="row">
	<div class="btn-group pull-left">
		<%=link_to "返回列表",admin_users_path,:class=>"btn"%>
	
	</div>
	<div class="btn-group pull-right">
		<%=link_to "编辑",edit_admin_user_path(@user),:class=>"btn"%>
		<%=link_to "删除",[:admin,@user],:method=>:delete,:class=>"btn btn-danger"%>
	</div>
</div>
