<!DOCTYPE html>
<html class="bg-black">
    <head>
        <meta charset="UTF-8">
        <meta charset="UTF-8">
        <title>上理果园</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
		    <%= csrf_meta_tags %>
		    <%= stylesheet_link_tag "admin", media: "all" %>
		    <%= javascript_include_tag "admin"%>
				<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    </head>
    <body class="bg-black">
			<%= notice_message %>

      <%= yield %>
    </body>
</html>