<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=@article.title%></title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "wx_articles", media: "all" %>
    <%= javascript_include_tag "wx_articles"%>

  </head>



	<body id="activity-detail" class="zh_CN ">
		<div class="rich_media">
			<div class="rich_media_inner">
				<h2 class="rich_media_title" id="activity-name"><%=@article.title%></h2><div class="rich_media_meta_list">
					<em id="post-date" class="rich_media_meta text"><%=l @article.updated_at if @article.updated_at%></em>
					<a class="rich_media_meta link nickname" href="http://mp.weixin.qq.com/s?__biz=MjM5NDM2NTU1Mw==&mid=200709050&idx=1&sn=53c5804ce40ba3ee7ccd36f6cfa58cd1#rd" id="post-user">许伯恺</a>
					</div>
				<div id="page-content">
			<div id="img-content"><div class="rich_media_content" id="js_content">
				<%= yield %>
			</div>
	</body>
	<script>
	WeixinApi.enableDebugMode();
	WeixinApi.ready(function(Api) {
	    // 微信分享的数据
	    var wxData = {
	        "appId": "", 
	        "imgUrl" : '<%=SERVER_PATH%><%=@article.cover_url%>',
	        "link" : '<%=mobile_wx_article_url(@article)%>',
	        "desc" : '<%=@article.breif%>',
	        "title" : "<%=@article.title%>"
	    };
	    // 分享的回调
	    var wxCallbacks = {
	        // 分享操作开始之前
	        ready : function() {
	            // 你可以在这里对分享的数据进行重组
	        },
	        // 分享被用户自动取消
	        cancel : function(resp) {
	            // 你可以在你的页面上给用户一个小Tip，为什么要取消呢？
	        },
	        // 分享失败了
	        fail : function(resp) {
	            // 分享失败了，是不是可以告诉用户：不要紧，可能是网络问题，一会儿再试试？
	            alert("分享失败，msg=" + resp.err_msg);
	        },
	        // 分享成功
	        confirm : function(resp) {
	            // 分享成功了，我们是不是可以做一些分享统计呢？
	            $.get('<%=share_mobile_wx_article_url(@article)%>',function(){});
	        },
	        // 整个分享过程结束
	        all : function(resp,shareTo) {
	            // 如果你做的是一个鼓励用户进行分享的产品，在这里是不是可以给用户一些反馈了？
	        }
	    };
		  // 用户点开右上角popup菜单后，点击分享给好友，会执行下面这个代码
		    Api.shareToFriend(wxData, wxCallbacks);

		    // 点击分享到朋友圈，会执行下面这个代码
		    Api.shareToTimeline(wxData, wxCallbacks);

		    // 点击分享到腾讯微博，会执行下面这个代码
		    Api.shareToWeibo(wxData, wxCallbacks);

		    // iOS上，可以直接调用这个API进行分享，一句话搞定
		    Api.generalShare(wxData,wxCallbacks);
		});
	</script>
</html>