<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>超越极限</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "wx_articles", media: "all" %>
  </head>



	<body id="activity-detail" class="zh_CN ">
		<div class="rich_media">
			<div class="rich_media_inner">
				<h2 class="rich_media_title" id="activity-name"><%=@article.title%></h2><div class="rich_media_meta_list">
					<em id="post-date" class="rich_media_meta text"><%=l @article.updated_at if @article.updated_at%></em>
					<a class="rich_media_meta link nickname" href="http://mp.weixin.qq.com/s?__biz=MjM5NDM2NTU1Mw==&mid=200709050&idx=1&sn=53c5804ce40ba3ee7ccd36f6cfa58cd1#rd" id="post-user">许伯恺</a>
					</div>
				<div id="page-content">
			<div id="img-content"><div class="rich_media_content" id="js_content">
				<%= yield %>
			</div>
	</body>

</html>